*{
    font-family: 'Inter', sans-serif;
    background-color: #232323;
    list-style-type: none;
}
.header{
    height: 60px;;
    display: flex;
    padding-right: 10px;
    padding-left: 10px;
    justify-content: space-around;
    align-items: center;
    border-style: solid;
    border-color: hsla(0, 0%, 100%, 0.30);
    border-width: 1px;
    border-radius: 5px;
}
.page_title_container{
    padding: 90px;
}
.page_title{
    color: white;
    font-size: 50px;
    display: flex;
    justify-content: space-around;
}
.homepage_container{
    display: flex;
    justify-content: space-around;
}
.marketcap_container{
    color: white;
    padding: 0px 20px 0px 20px;
    border-style: solid;
    border-color: hsla(0, 0%, 100%, 0.30);
    border-width: 1px;
    border-radius: 5px;
    height: auto;
    width: 30%;
}
.marketcap_list {
    display: flex;
    justify-content: space-evenly;
}
.topgainer_container{
    color: white;
    padding: 0px 20px 0px 20px;
    border-style: solid;
    border-color: hsla(0, 0%, 100%, 0.30);
    border-width: 1px;
    border-radius: 5px;
    height: auto;
    width: 30%;
}
.topgainers_list {
    display: flex;
    justify-content: space-evenly;
}
.myportfolio_container{
    color: white;
    padding: 0px 20px 0px 20px;
    border-style: solid;
    border-color: hsla(0, 0%, 100%, 0.30);
    border-width: 1px;
    border-radius: 5px;
    height: auto;
    width: 30%;
}
.home_button{
    color: green;
    font-size: 16px;
    padding-right: 30px;
}
.home_button:hover{
    color: white;
    cursor: pointer;
}
.clear{
    color: green;
    padding-left: 30px;
}
.clear:hover{
    color: white;
    cursor: pointer;
}
.searchbar{
    width: 300px;
    height: 25px;
    color: green;
    font-size: 16px;
    background-color: hsla(0, 0%, 100%, 0.05);
    border-style: solid;
    border-color: hsla(0, 0%, 100%, 0.30);
    border-width: 1px;
    border-radius: 3px;
    padding-left: 10px;
    padding-right: 10px;

}
.searchbar:focus{
    outline: none;
}
.searchresult_ulist{
    position: absolute;
    height: Auto;
    width: 400px;
    border-style: solid;
    border-color: hsla(0, 0%, 100%, 0.30);
    border-width: 1px;
    border-radius: 3px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.searchresult_list{
    color: white;
    font-size: 15px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}
.searchresult_list:hover{
    color:green;
    font-weight: bold;
}
.stockdetails_container{
    padding: 20px;
    display: flex;
}
.stockdetails_chart{
    width: 50%;
    padding: 20px;
    border-style: solid;
    border-color: hsla(0, 0%, 100%, 0.30);
    border-width: 1px;
    border-radius: 3px;
}
.stockdetails_details{
    width: 50%;
    padding: 20px;
    border-style: solid;
    border-color: hsla(0, 0%, 100%, 0.30);
    border-width: 1px;
    border-radius: 3px;
}
.website_link{
    color: white;
    font-size: 15px;
}
.website_link:hover{
    color: green;
    cursor: pointer;
}
.marketcap_list{
    color: rgba(255, 255, 255, 0.65);
}
.topgainers_list{
    color: rgba(255, 255, 255, 0.65);
}
.portfolio_update{
    color: white;
    font-size: 16px;
}
.portfolio_update:hover{
    color: green;
    cursor: pointer;
}
.percentchange{
    color: red;
}
.add_button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 5px 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-left: 5px;
}

.add_button:hover {
    background-color: #218838;
}

button{
    border: none;
}

p{
    color: white;
}
h1{
    color: white;
}
li{
    padding-bottom: 5px;
}
